.sidebar{
    flex:15%;
    padding: 5px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.sidebarTitle{
    margin: 0;
    padding: 5px;
}

.sidebarListItem{
    margin: 0;
    padding: 5px;

}
