.header{
    /*margin-top: 60px;*/
}

.headerTitles{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto Mono', monospace;
    padding-top: 20px;
    background-color: rgba(234, 235, 224, 0.952);
    /*background-color: rgb(243, 245, 240)*/
}
.headerTitleSm, .headerTitleLg{
    cursor: pointer;
    padding-bottom: 5px;
}